.animecard{
  background-image:url("https://i.pinimg.com/736x/2e/c3/1d/2ec31d205b1c06ea9ab17397f28566ca.jpg");
  height:100vh;
  background-size:cover;
}

.card{
  text-align:center;
  background-color: #e9caed;
  padding:10px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.cardheading{
  color:#6ab8e6;
  font-size:60px;
  font-family:"Roboto";
  font-weight:bold;
}


.button{
  font-size:20px;
  background-color:blue;
  color:white;
  height:40px;
  width:200px;
  border-radius: 20px;
}